#about-us {
    .profiles {
        margin-top: -4rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 3rem;

        .avatar {
            width: 100%;
            max-width: 250px;
            margin-bottom: 1rem;
            img {
                border-radius: 50%;
            }
        }
        .name {
            font-size: 2rem;
            font-weight: 500;
        }
        .content {
            max-width: 320px;
            text-align: center;
        }
    }
}
