#homepage {
    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .record-button-container {
            background: linear-gradient(to right, red, purple);
            padding: 3px;
            width: 15rem;
            height: 15rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            cursor: pointer;
            border-radius: 50%;
            margin-bottom: 1.563rem;

            .record-button {
                background-color: #fff;
                width: 14.6rem;
                height: 14.6rem;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .record-icon {
                width: 10rem;
                height: 10rem;
            }
            .is-recording {
                box-shadow: 10px 10px 79px 0px rgba(114, 23, 153, 0.7);
            }
        }
        .audio {
            margin: 1rem auto;
        }
    }
}
